
html{
padding: 0;
margin: 0;
	width: 100%;
}

.navbartop{

	display: flex;
	position: fixed;
	height : 60px;
	width : 100%;
	background-color: black;
	opacity: 0.9;

}
span{
	font-size:50px;
	cursor:pointer; 
	
	background-color : black;
	padding-top : 0px;
	padding-left :15px;
	position: fixed;
}


	.navbartop_logo{
		border: 2px solid red;
		
		height: 40px;
		width : 400px;

		background-image: url(../images/lgo_mimeetmoi_white-2x.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 8px;
		margin-left: 35%;


	}

	.navbartop_right{
		color : white;
		background-color: black;
		padding-left: 10%;
		height: 60px;
		width : 40%;

	}
		.navbartop_right img{
			width : 25px;
			height : 25px;
		}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
	background-color: white;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #818181;/*#818181*/
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
	background-color: fuchsia;
	color :lime;
/*    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 40px;
  }
  .sidenav a {font-size: 18px;
  }
}



/*.navbar_top_side{width : 150%;
height : 350px;}
*/
.top_photo{
	
	padding-top: 250px;
	margin-left: 5%;
	height : 900px;
	width: 100%;
	background-image: url(../images/index.png);
	background-size: cover;
}

	.top_photo h2{
		margin-top: -5px;
		padding-top: 250px;
		color: white;
		text-align: center;
	}

	.top_photo h1{color : white;text-align: center;}

	.top_photo p{
		/*margin-top: 325px;*/
		text-align: center;
		width : 30%;
		margin-left: 35%;
		color : black;
		background-color: white;
	    font-style: italic;

	}

.carousel_top{

	height : 600px;
	width:100%;
	background-color: grey;
}

	.carousel_left{
		width : 29%;
		height: 600px;
		float:left;
		text-align: center;
	}
	.carousel_right{float: right;
		width : 69%;
		height: 600px;
	}

	.mySlides {display:none
		width : 50%;
		height: 50%
	}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	
	.w3-badge {
		height:30px;
		width:30px;
		padding:0}

/**************************/
/*9 slides avec effet hover*/
/**************************/

.newcomer{
	display: flex;
	flex-direction: row;
	/*list-style-type: none;*/
	height:1600px;
	width: 100%;
}
.centre{
	width : 100%;
	background-color: red}
.gauche{padding-left: 4%;
	width : 100%;
	background-color: blue}
.droite{
	width : 100%;
	background-color: green}


.newcomer img{
	width :90%;
	height: 32%;}


.gauche:hover, .centre:hover, .droite:hover{
	background-image: url(../images/IMG_737856e91f1766533_1280x1280.jpg);}


.newcomer_text{}


.Kollektion{
	height:210px;
	background-color: cyan;
	margin-top: 25px;
	padding-top: 25px;
	margin-bottom: 25px;
	color: red;
	text-align: center;
}

.video{
	background-color: grey;
height: 630px;
width: 100%;
}

.player{
	margin: 0 auto;
	width : 80%;
height: 100%;
}


.easy{width : 100%;
height: 250px;}

.hammer{
	height:530px;
	background-color: #F1F1F3;
}

	.hammer_left{float: left;
		height: 400px;
		width : 40%;
		padding-left : 40px;
		background-image: url(../images/made4u.jpg);
		background-size: cover;
	}

	.hammer_right{
		float: right;
		height: 400px;
		width : 40%;
	}

.insta{
	text-align: center;
	height: 500px;
	width : 100%;
	background-image: url(../images/index2.png);
}

.insta_body{
padding-top: 10%;
}
.insta img{
	width : 50px;
	height:50px;
}

.insta p{
	color : white;
}

.insta h5{margin: 0 auto;
	background-color: white; color :black; width: 30%;}

.kontakt{}


.social{}



.pay{}

footer{}