
html{
	
padding: 0;
margin: 0;
	width: 100%;
}

.navbartop{

	display: flex;
	position: fixed;
	height : 60px;
	width : 100%;
	background-color: black;
	opacity: 0.9;
	
}

span{
	font-size:5px;
	cursor:pointer; 
	
	background-color : black;
	padding-top : 0px;
	padding-left :5px;
	position: fixed;
}


	.navbartop_logo{				/*mime et moi*/
		/*border: 2px solid red;*/
		
		height: 40px;
		width : 400px;

		background-image: url(../images/lgo_mimeetmoi_white-2x.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 8px;
		margin-left: 35%;


	}

	.navbartop_right{
		color : white;
		background-color: black;
		padding-left: 17%;
		padding-top: 15px;
		height: 60px;
		width : 40%;


	}
		.navbartop_right img{
			width : 25px;
			height : 25px;
		}

		.navbartop_right a {
			text-decoration:none;
		}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
	background-color: white;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #818181;/*#818181*/
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
	background-color: #818181;
	color :white;
/*    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 40px;
  }
  .sidenav a {font-size: 18px;
  }
}



/*.navbar_top_side{width : 150%;
height : 350px;}
*/
.top_photo{
	
	
	height : 900px;
	width: 100%;
	background-image: url(../images/index.png);
	background-size: cover;
}

	.top_photo h2{
		margin-top: -5px;
		padding-top: 300px;
		color: white;
		text-align: center;
	}

	.top_photo h1{color : white;text-align: center;}

	.top_photo p{
		/*margin-top: 325px;*/
		text-align: center;
		width : 30%;
		margin-left: 35%;
		color : black;
		background-color: white;
	    font-style: italic;

	}

.carousel_top{

	height : 600px;
	width:100%;
	background-color: #F1F1F3;
}

	.carousel_left{
		width : 29%;
		height: 600px;
		float:left;
		text-align: center;
	}
	.carousel_right{float: right;
		width : 69%;
		height: 600px;
	}

	.mySlides {display:none
		width : 50%;
		height: 50%
	}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	
	.w3-badge {
		height:30px;
		width:30px;
		padding:0}

/**************************/
/*9 slides avec effet hover*/
/**************************/
.newcomer_text{}

.newcomer{
	display: flex;
	flex-direction: row;
	/*list-style-type: none;*/
	height:1600px;
	width: 100%;
}
.gauche,.centre,.droite  {
	
	width : 100%;
	background-color: white}


.newcomer img{
	width :60%;
	height: 32%;}

.gauche{padding-left: 10%;}


.g1, .g2, .g3, .c1, .c2, .c3, .d1, .d2, .d3{
	
	margin-bottom: 40px;
}

.g1_text, .g2_text, .g3_text, .c1_text, .c2_text, .c3_text, .d1_text, .d2_text, .d3_text{
	padding-top: 25px;
	text-align: center;
	width: 80%;
	height: 250px;
	background-color: #F1F1F3;
}

.g1_picture, .c1_picture, .d1_picture{
	
	width:80%; 
	height: 250px;
	background-image: url(../images/IMG_639656e27d79bf778_1280x1280.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.g1_picture:hover,
.c1_picture:hover,
.d1_picture:hover{
	width:80%; 
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/IMG_737856e91f1766533_1280x1280.jpg);}



.g2_picture, .c2_picture, .d2_picture{
	width:80%; 
	height: 250px;
	background-image: url(../images/IMG_639656e27d79bf778_1280x1280.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.g2_picture:hover,
.c2_picture:hover,
.d2_picture:hover {
	width:80%; 
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/IMG_737856e91f1766533_1280x1280.jpg);}


.g3_picture, .c3_picture, .d3_picture{
	width:80%; 
	height: 250px;
	background-image: url(../images/IMG_639656e27d79bf778_1280x1280.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.g3_picture:hover,
.c3_picture:hover,
.d3_picture:hover {
	width:80%; 
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/IMG_737856e91f1766533_1280x1280.jpg);}





.Kollektion{
	height:210px;
	background-color: white;
	margin-top: 25px;
	padding-top: 60px;
	margin-bottom: 25px;
	
	
}
.koll_text{
	text-align: center;
	width : 18%;
	background: black;
	color: white;
	margin: 0 auto;
}

.koll_text h1{
	padding-top : 6px;
	padding-bottom: 6px;
font-size: 16px
}


.video{
	background-color: white;
height: 630px;
width: 100%;
}

.player{
	margin: 0 auto;
	width : 80%;
height: 100%;
}





.easy{

	width : 100%;
	height: 650px;
}


	.easy_titre{width: 33%;margin: 0 auto;
		background-color: white}

	/*.easy_carousel{background-color: white}*/


	.easy_bottom{
		background-color: white;
		 width:100%;


		}

		.easy_bottom_left{
		
			background-color: white;
		}

		.easy_bottom_right{
			text-align: right;
			margin-top: 350px;

		background-color: lime;
		width: 50%; 

		}

			.easy_bottom_right img{			
			}









.hammer{
	height:530px;
	background-color: #F1F1F3;
}

	.hammer_left{
		float: left;
		margin-top: 50px;
		margin-left: 50px;
		margin-right: 80px;
		height: 400px;
		width : 40%;
	
		background-image: url(../images/made4u.jpg);
		background-size: cover;
	}

	.hammer_right{
		
		
		height: 400px;
		width : 40%;
	}
	.hammer_right_text{
		text-align: left;
		padding-top: 150px;	}

.insta{
	text-align: center;
	height: 490px;
	width : 100%;
	background-image: url(../images/index2.png);
}

.insta_body{
padding-top: 10%;
}
.insta img{
	width : 50px;
	height:50px;
}

.insta p{text-align: center;
	color : white;
}

.insta h5{margin: 0 auto;
	background-color: white; color :black; width: 30%;}


.kontakt{text-align: center;}




.social{text-align: center;
	color : white;
	background-color :black ;
}
.social_picture{
	margin: 0 auto;
	width : 500px;
	height : 50px;
	background-size: 500px 50px;
	background-repeat: no-repeat;
	background-image: url(../images/lgo_mimeetmoi_white-2x.png);
}




.pay{}

footer{
background-color: black;
color :white;
	}

	footer .left{}

	footer .center{text-align: center;}

	footer .right{text-align: right;}




/*----------------------*/
/*STYLE SECOND CAROUSEL*/
/***********************/


* {box-sizing:border-box}
/*body {font-family: Verdana,sans-serif;margin:0}
*/

.mySlides {display:none;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 30px;/*zone de survol pour clique*/
  margin-top: -22px;
  color: grey;
/*  font-weight: bold;*/
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 30px 30px 0;
}

/* Position the "next button" to the right */
.next {

  right: 0px;
  top : 230px;
  border-radius: 30px 0 0 30px;
}
.prev{

  left : 0px;
  top: 230px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: blue;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
padding-top: 6px;
  cursor:pointer;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  /*background-color: grey;*/
  border-radius: 50%;
  border : 2px solid grey;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.line{
display: inline-block;
  width: 15px;
  border-top: 1px solid grey;
}

.active {/*.active, .dot:hover */
  background-color: black;
  color:white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



